* {
  margin: 10;
  padding: 0;
}

table {
  border-collapse: separate;
  border-spacing: 20px 0;
  background-color: lightgrey;
  border: 1px solid black;
}

td {
  padding: 5px 0;
}

.rev {
    font-weight: bold;
    color: black;
    font-size: 24px;
}

.inp {
    margin-top: 6px;
    margin-bottom: 6px;
    height: 20px;
    font-weight: Bold;
    font-size: 18px;
}

.enter {
    width: 200px;
    height: 30px;
    font-size: 18px;
    margin-top: 15px;
    border: none;
    background-color: violet;
    border-radius: 40px;
}

.enter:hover {
    color: white;
    background-color: green;
}

.nav {
    height: 25px;
    font-weight: Semi Bold;
    color: black;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    border: 1px solid violet;
    background-color: #E5E4E2;
    border-radius: 40px;
}

.link {
    color: black;
    font-size: 18px;
    display: inline-block;
}

.linkbutton {
    margin-left: 15px;
    height: 25px;
    font-weight: Semi Bold;
    color: black;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    border: none;
    background-color: violet;
    border-radius: 40px;
}

.linkbutton:hover {
    color: white;
    background-color: green;
}

.authbutton {
    height: 60px;
    color: black;
    background-color: violet;
    font-size: 18px;
    display: inline-block;
    border-radius: 40px;
    margin-top: 80px;
    margin-left: 200px;
    border: none;
}

.authbutton:hover {
    color: white;
    background-color: green;
}

.tab {
    font-size: 20px;
}

.bod {
    background-image: url("/css/shop-view.png");
}

a {
    text-decoration: none;
    border-bottom: 1px dashed blue;
}

a:hover {
    color: green;
    border-bottom: 1px dashed green;
}

h2 {
    margin-top: 40px;
}